{% capture styles %}
{% include poole.css %}
{% include syntax.css %}
{% include lanyon.css %}
{% include custom.css %}
{% include font.css %}
{% endcapture %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  {% if page.url and site.baseurl %}
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  {% endif %}

  <style> {{ styles | scssify }} </style>

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.base_url }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ '/public/favicon.ico' | absolute_url }}">

  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ '/atom.xml' | absolute_url }}">

  {% if site.google_analytics_id %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_id }}"></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics_id }}');
  </script>
  {% endif %}

  <script id="MathJax-script" async defer src="{{ site.base_url }}/assets/scripts/mathjax-3.2.2/package/es5/tex-mml-chtml.js"></script>
</head>
