---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-meta">
    <span class="post-date">{{ page.date | date_to_string }}</span>
    {% if page.tags %}
    <span class="post-tags-inline">
      tags:
      {% for tag in page.tags -%}
        {%- unless forloop.first -%}, {% endunless -%}
        <a href="{{ '/tags/' | relative_url }}{{ tag | slugify }}/">{{ tag }}</a>
      {%- endfor %}
    </span>
    {% endif %}
  </div>
  <hr class="post-meta-separator">
  {{ content }}

  <hr>
  <footer>
    <strong>about me:</strong> <br>
    i'm francis. i study computer systems engineering.
    <br>
    please, talk to me about what i wrote!
    <br> <br>
    
    email: <a href="mailto:francis_billones@dlsu.edu.ph">francis_billones@dlsu.edu.ph</a>
    <br>

    github: <a href="https://github.com/francisdbillones" target="_blank" rel="noopener noreferrer">francisdbillones</a>
  </footer>
</div>
