---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}

  <hr>
  <footer>
    <strong>about me:</strong> <br>
    Hi! I'm Francis. I write whatever I feel strongly about, or just happen to find interesting.
    I'm currently studying <a href="https://www.dlsu.edu.ph/colleges/ccs/undergraduate-degree-programs/cs-cse/"
      target="_blank" rel="noopener noreferrer">Computer
      Systems Engineering</a> at <a href="https://www.dlsu.edu.ph/" target="_blank" rel="noopener noreferrer">De La
      Salle University</a>. <br><br>

    For comments and other inquiries, send an email to <a href="mailto:me@francisdb.net">me@francisdb.net</a>. <br>

    <br>

    I also have a <a href="https://github.com/francisdbillones" target="_blank" rel="noopener noreferrer">GitHub
      profile</a>, where this site is hosted.
  </footer>
</div>